body {
  background: #e0e4ed;
  font-family: Roboto, sans-serif;
}

h1 {
  text-align: center;
}
a {
  color: #153452;
}
footer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 14px;
}
hr {
  width: 80%;
  border: 1px dashed #e0e4ed;
}

.app {
  background: #92afcd;
  border-radius: 6px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  margin: 25px auto;
  padding: 10px 20px;
  width: 50%;
}
.day-time {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}
.search-form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 5px;
  border-radius: 4px;
  border-style: none;
}
.search-city {
  background: #e0e4ed;
  height: 30px;
  width: 60%;
  border-radius: 4px;
  border-style: none;
  margin-right: 8px;
  font-size: 14px;
  padding-left: 7px;
}
::placeholder {
  color: #153452;
  opacity: 0.6;
}
.search-form button {
  background: #153452;
  color: #e0e4ed;
  border-radius: 4px;
  border-style: none;
  width: 20%;
}
.current-temperature,
.emoji {
  text-align: center;
  font-size: 50px;
}
.condition {
  display: flex;
  justify-content: space-around;
}
.condition-description {
  padding-top: 16px;
}
.condition-value {
  color: #e0e4ed;
  font-weight: bold;
}
.forecast {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
}
.col-2 {
  background: #b9c9db;
  padding: 5px;
  border-radius: 5px 7px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.forecast-temperature {
  display: flex;
  justify-content: space-between;
}
.forecast-min-temperature {
  opacity: 0.6;
}
.forecast-max-temperature {
  font-weight: bold;
}
